/*======================
    404 page
=======================*/


.page_404{ 
    padding:40px 0; 
    background:#fff; 
    font-family: 'Arvo', sans-serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 
 
.four_zero_four_bg h1{
 font-size:80px;
}
 
.four_zero_four_bg h3{
 font-size:80px;
}
			 
.home_link_404{			 
 color: #fff!important;
 padding: 10px 20px;
 background: #39ac31;
 margin: 20px 0;
 display: inline-block;
 text-decoration: none;
 
}
    
.home_link_404 :hover{
    background-color: #7d8d7c;
}

.center-align{
    text-align: center;
}
