.ql-editor{
    height: 450px;
}
#editor{
    background-color:rgb(245, 238, 238);
}
.ql-snow{
    background-color:rgb(240, 240, 137);
}

#bts{
    background-color: green;
    width: 140px;
    padding: 10px;
    margin: 10px 20px;
    align-items: center;
    color: white;
}

#navbarCustom{
  color: #ffffff;
   background-color:green;
   {% comment %} border:1px solid black; {% endcomment %}
   border-radius: 20px;
   width: 100px;
   text-align: center;
   opacity: 0.7;
   margin-left: 10px;
}

#navbarCustom:hover{
    background-color: rgba(220,10,10,0.8);

}


 @media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

#bts{
    width: 130px;
    padding: 10px;
    text-align: center;
    margin-left:120px;
    margin-right:30px;

    background-color: green;
}

#bts:hover{
   
    color: #ffffff !important;
    background-color: #009ee1 !important;
    background:RGBA(0,158,225,1) !important;
    border: 2px solid #009ee1 !important;
}

}