{% extends "Standard_Template.html" %}
{% load static %}
    {% block content %}
            <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white transparency border-bottom border-light"
                id="transmenu">
                <div class="container"><button class="navbar-toggler collapsed"
                        data-toggle="collapse"><span></span><span></span><span></span></button></div>
            </nav>
        </header>
        <!-- End: Menu + header background -->
    </div>
    <!-- End: ♣ Fixed Navbar start with transparency background -->
    <!-- Start: background + text -->
    <header class="bg-success d-flex align-items-center"
        style="height: 100vh;color: rgb(56,100,143);background: rgb(26,73,238);">
        <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white transparency border-bottom border-light"
            id="transmenu-1">
            <div class="container"><a class="navbar-brand text-success" href="{% url 'Users-home' %}"
                    style="border-left-color: rgb(115,26,26);"><i
                        class="fa fa-leaf fa-2x"></i><strong>Note</strong>Repo</a><button data-toggle="collapse"
                    class="navbar-toggler collapsed"
                    data-target="#navcol-1"><span></span><span></span><span></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="{% url 'Users-home' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link active" href="{% url 'Users-about' %}">About us</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" href="#">Blogs</a></li> -->
                        <li class="dropdown nav-item"><a class="dropdown-toggle nav-link" data-toggle="dropdown"
                                aria-expanded="false" href="#">Resources</a>
                            <div class="dropdown-menu"><a class="dropdown-item" href="{% url 'Users-Notebook' %}">Notebooks</a><a
                                    class="dropdown-item" href="#">Textbooks</a><a class="dropdown-item"
                                    href="#">Question Papers</a></div>
                        </li>
                        <!-- <li class="nav-item"><a class="nav-link" href="#">Sign up&nbsp;<div></div></a></li> -->
                    </ul>
                </div><a href="../Login form/login form.html"><button class="btn btn-primary" type="button">Log In</button></a>
            </div>
        </nav>
        <!-- Start: Team with rotating cards -->
        <section class="card-section-imagia">
            <div class="col offset-lg-0">
                <div style="height:160px; width: 100%;"></div>
                <div style="height: 1100px"></div>
            </div>
            <!-- Start: H1 -->
            <h1>Our team</h1>
            <!-- End: H1 -->
            <!-- Start: H2 -->
            <h2>Posset maiora firmatum nunc cuniculis</h2>
            <!-- End: H2 -->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <!-- Start: card container -->
                        <div class="card-container-imagia">
                            <!-- Start: card -->
                            <div class="card-imagia">
                                <!-- Start: front -->
                                <div class="front-imagia">
                                    <!-- Start: cover image -->
                                    <div class="cover-imagia"><img alt="" src="https://unsplash.it/720/500?image=1067">
                                    </div>
                                    <!-- End: cover image -->
                                    <!-- Start: user image -->
                                    <div class="user-imagia"><img class="img-circle" alt=""
                                            src="https://unsplash.it/120/120?image=64"></div>
                                    <!-- End: user image -->
                                    <!-- Start: texte -->
                                    <div class="content-imagia">
                                        <h3 class="name-imagia">John Doe</h3>
                                        <p class="subtitle-imagia">Subtitle </p>
                                        <p class="text-center"><em>Tantum autem cuique tribuendum, primum quantum ipse
                                                efficere possis, deinde etiam quantum ille quem diligas atque
                                                adiuves.</em></p>
                                    </div>
                                    <!-- End: texte -->
                                    <!-- Start: footer -->
                                    <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span></div>
                                    <!-- End: footer -->
                                </div>
                                <!-- End: front -->
                                <!-- Start: back -->
                                <div class="back-imagia">
                                    <!-- Start: content -->
                                    <div class="content-imagia content-back-imagia">
                                        <div>
                                            <h3 class="text-center">Lorem Ipsum</h3>
                                            <p class="text-center">Et hanc quidem praeter oppida multa duae civitates
                                                exornant Seleucia opus Seleuci regis, et Claudiopolis quam deduxit
                                                coloniam Claudius Caesar. Isaura enim antehac nimium potens, olim
                                                subversa ut rebellatrix
                                                interneciva aegre vestigia claritudinis pristinae monstrat admodum
                                                pauca. </p>
                                        </div>
                                    </div>
                                    <!-- End: content -->
                                    <!-- Start: footer -->
                                    <div class="footer-imagia">
                                        <!-- Start: icons -->
                                        <div class="social-imagia text-center"><a href="#"><i
                                                    class="fa fa-facebook"></i></a><a href="#"><i
                                                    class="fa fa-linkedin"></i></a><a href="#"><i
                                                    class="fa fa-twitter"></i></a></div>
                                        <!-- End: icons -->
                                    </div>
                                    <!-- End: footer -->
                                </div>
                                <!-- End: back -->
                            </div>
                            <!-- End: card -->
                        </div>
                        <!-- End: card container -->
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <!-- Start: card container -->
                        <div class="card-container-imagia">
                            <!-- Start: card -->
                            <div class="card-imagia">
                                <!-- Start: front -->
                                <div class="front-imagia">
                                    <!-- Start: cover gradient -->
                                    <div class="cover-imagia cover-gradient"></div>
                                    <!-- End: cover gradient -->
                                    <!-- Start: user image -->
                                    <div class="user-imagia"><img class="img-circle" alt=""
                                            src="https://unsplash.it/120/120?image=64"></div>
                                    <!-- End: user image -->
                                    <div class="content-imagia">
                                        <h3 class="name-imagia">John Doe</h3>
                                        <p class="subtitle-imagia">Subtitle </p>
                                        <p class="text-center"><em>Tantum autem cuique tribuendum, primum quantum ipse
                                                efficere possis, deinde etiam quantum ille quem diligas atque adiuves.
                                            </em></p>
                                    </div>
                                    <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span></div>
                                </div>
                                <!-- End: front -->
                                <!-- Start: back -->
                                <div class="back-imagia">
                                    <!-- Start: content -->
                                    <div class="content-imagia content-back-imagia">
                                        <div>
                                            <h3 class="text-center">Lorem Ipsum</h3>
                                            <p class="text-center">Et hanc quidem praeter oppida multa duae civitates
                                                exornant Seleucia opus Seleuci regis, et Claudiopolis quam deduxit
                                                coloniam Claudius Caesar. Isaura enim antehac nimium potens, olim
                                                subversa ut rebellatrix
                                                interneciva aegre vestigia claritudinis pristinae monstrat admodum
                                                pauca. </p>
                                        </div>
                                    </div>
                                    <!-- End: content -->
                                    <!-- Start: footer -->
                                    <div class="footer-imagia">
                                        <!-- Start: icons -->
                                        <div class="social-imagia text-center"><a href="#"><i
                                                    class="fa fa-facebook"></i></a><a href="#"><i
                                                    class="fa fa-linkedin"></i></a><a href="#"><i
                                                    class="fa fa-twitter"></i></a></div>
                                        <!-- End: icons -->
                                    </div>
                                    <!-- End: footer -->
                                </div>
                                <!-- End: back -->
                            </div>
                            <!-- End: card -->
                        </div>
                        <!-- End: card container -->
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <!-- Start: card container -->
                        <div class="card-container-imagia">
                            <!-- Start: card -->
                            <div class="card-imagia">
                                <!-- Start: front -->
                                <div class="front-imagia">
                                    <!-- Start: cover image -->
                                    <div class="cover-imagia"><img alt="" src="https://unsplash.it/720/500?image=1067">
                                    </div>
                                    <!-- End: cover image -->
                                    <!-- Start: user image -->
                                    <div class="user-imagia"><img class="img-circle" alt=""
                                            src="https://unsplash.it/120/120?image=64"></div>
                                    <!-- End: user image -->
                                    <!-- Start: texte -->
                                    <div class="content-imagia">
                                        <h3 class="name-imagia">John Doe</h3>
                                        <p class="subtitle-imagia">Subtitle </p>
                                        <p class="text-center"><em>Tantum autem cuique tribuendum, primum quantum ipse
                                                efficere possis, deinde etiam quantum ille quem diligas atque adiuves.
                                            </em></p>
                                    </div>
                                    <!-- End: texte -->
                                    <!-- Start: footer -->
                                    <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span></div>
                                    <!-- End: footer -->
                                </div>
                                <!-- End: front -->
                                <!-- Start: back -->
                                <div class="back-imagia">
                                    <!-- Start: content -->
                                    <div class="content-imagia content-back-imagia">
                                        <div>
                                            <h3 class="text-center">Lorem Ipsum</h3>
                                            <p class="text-center">Et hanc quidem praeter oppida multa duae civitates
                                                exornant Seleucia opus Seleuci regis, et Claudiopolis quam deduxit
                                                coloniam Claudius Caesar. Isaura enim antehac nimium potens, olim
                                                subversa ut rebellatrix
                                                interneciva aegre vestigia claritudinis pristinae monstrat admodum
                                                pauca. </p>
                                        </div>
                                    </div>
                                    <!-- End: content -->
                                    <!-- Start: footer -->
                                    <div class="footer-imagia">
                                        <!-- Start: icons -->
                                        <div class="social-imagia text-center"><a href="#"><i
                                                    class="fa fa-facebook"></i></a><a href="#"><i
                                                    class="fa fa-linkedin"></i></a><a href="#"><i
                                                    class="fa fa-twitter"></i></a></div>
                                        <!-- End: icons -->
                                    </div>
                                    <!-- End: footer -->
                                </div>
                                <!-- End: back -->
                            </div>
                            <!-- End: card -->
                        </div>
                        <!-- End: card container -->
                    </div>
                </div>
            </div>
            <!-- Start: Team with rotating cards -->
            <section class="card-section-imagia">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <!-- Start: card container -->
                            <div class="card-container-imagia">
                                <!-- Start: card -->
                                <div class="card-imagia">
                                    <!-- Start: front -->
                                    <div class="front-imagia">
                                        <!-- Start: cover image -->
                                        <div class="cover-imagia"><img alt=""
                                                src="https://unsplash.it/720/500?image=1067"></div>
                                        <!-- End: cover image -->
                                        <!-- Start: user image -->
                                        <div class="user-imagia"><img class="img-circle" alt=""
                                                src="https://unsplash.it/120/120?image=64"></div>
                                        <!-- End: user image -->
                                        <!-- Start: texte -->
                                        <div class="content-imagia">
                                            <h3 class="name-imagia">John Doe</h3>
                                            <p class="subtitle-imagia">Subtitle </p>
                                            <p class="text-center"><em>Tantum autem cuique tribuendum, primum quantum
                                                    ipse efficere possis, deinde etiam quantum ille quem diligas atque
                                                    adiuves.</em></p>
                                        </div>
                                        <!-- End: texte -->
                                        <!-- Start: footer -->
                                        <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span>
                                        </div>
                                        <!-- End: footer -->
                                    </div>
                                    <!-- End: front -->
                                    <!-- Start: back -->
                                    <div class="back-imagia">
                                        <!-- Start: content -->
                                        <div class="content-imagia content-back-imagia">
                                            <div>
                                                <h3 class="text-center">Lorem Ipsum</h3>
                                                <p class="text-center">Et hanc quidem praeter oppida multa duae
                                                    civitates exornant Seleucia opus Seleuci regis, et Claudiopolis quam
                                                    deduxit coloniam Claudius Caesar. Isaura enim antehac nimium potens,
                                                    olim subversa ut rebellatrix
                                                    interneciva aegre vestigia claritudinis pristinae monstrat admodum
                                                    pauca. </p>
                                            </div>
                                        </div>
                                        <!-- End: content -->
                                        <!-- Start: footer -->
                                        <div class="footer-imagia">
                                            <!-- Start: icons -->
                                            <div class="social-imagia text-center"><a href="#"><i
                                                        class="fa fa-facebook"></i></a><a href="#"><i
                                                        class="fa fa-linkedin"></i></a><a href="#"><i
                                                        class="fa fa-twitter"></i></a></div>
                                            <!-- End: icons -->
                                        </div>
                                        <!-- End: footer -->
                                    </div>
                                    <!-- End: back -->
                                </div>
                                <!-- End: card -->
                            </div>
                            <!-- End: card container -->
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <!-- Start: card container -->
                            <div class="card-container-imagia">
                                <!-- Start: card -->
                                <div class="card-imagia">
                                    <!-- Start: front -->
                                    <div class="front-imagia">
                                        <!-- Start: cover gradient -->
                                        <div class="cover-imagia cover-gradient"></div>
                                        <!-- End: cover gradient -->
                                        <!-- Start: user image -->
                                        <div class="user-imagia"><img class="img-circle" alt=""
                                                src="https://unsplash.it/120/120?image=64"></div>
                                        <!-- End: user image -->
                                        <div class="content-imagia">
                                            <h3 class="name-imagia">John Doe</h3>
                                            <p class="subtitle-imagia">Subtitle </p>
                                            <p class="text-center"><em>Tantum autem cuique tribuendum, primum quantum
                                                    ipse efficere possis, deinde etiam quantum ille quem diligas atque
                                                    adiuves. </em></p>
                                        </div>
                                        <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span>
                                        </div>
                                    </div>
                                    <!-- End: front -->
                                    <!-- Start: back -->
                                    <div class="back-imagia">
                                        <!-- Start: content -->
                                        <div class="content-imagia content-back-imagia">
                                            <div>
                                                <h3 class="text-center">Lorem Ipsum</h3>
                                                <p class="text-center">Et hanc quidem praeter oppida multa duae
                                                    civitates exornant Seleucia opus Seleuci regis, et Claudiopolis quam
                                                    deduxit coloniam Claudius Caesar. Isaura enim antehac nimium potens,
                                                    olim subversa ut rebellatrix
                                                    interneciva aegre vestigia claritudinis pristinae monstrat admodum
                                                    pauca. </p>
                                            </div>
                                        </div>
                                        <!-- End: content -->
                                        <!-- Start: footer -->
                                        <div class="footer-imagia">
                                            <!-- Start: icons -->
                                            <div class="social-imagia text-center"><a href="#"><i
                                                        class="fa fa-facebook"></i></a><a href="#"><i
                                                        class="fa fa-linkedin"></i></a><a href="#"><i
                                                        class="fa fa-twitter"></i></a></div>
                                            <!-- End: icons -->
                                        </div>
                                        <!-- End: footer -->
                                    </div>
                                    <!-- End: back -->
                                </div>
                                <!-- End: card -->
                            </div>
                            <!-- End: card container -->
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <!-- Start: card container -->
                            <div class="card-container-imagia">
                                <!-- Start: card -->
                                <div class="card-imagia">
                                    <!-- Start: front -->
                                    <div class="front-imagia">
                                        <!-- Start: cover image -->
                                        <div class="cover-imagia"><img alt=""
                                                src="https://unsplash.it/720/500?image=1067"></div>
                                        <!-- End: cover image -->
                                        <!-- Start: user image -->
                                        <div class="user-imagia"><img class="img-circle" alt=""
                                                src="https://unsplash.it/120/120?image=64"></div>
                                        <!-- End: user image -->
                                        <!-- Start: texte -->
                                        <div class="content-imagia">
                                            <h3 class="name-imagia">John Doe</h3>
                                            <p class="subtitle-imagia">Subtitle </p>
                                            <p class="text-center"><em>Tantum autem cuique tribuendum, primum quantum
                                                    ipse efficere possis, deinde etiam quantum ille quem diligas atque
                                                    adiuves. </em></p>
                                        </div>
                                        <!-- End: texte -->
                                        <!-- Start: footer -->
                                        <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span>
                                        </div>
                                        <!-- End: footer -->
                                    </div>
                                    <!-- End: front -->
                                    <!-- Start: back -->
                                    <div class="back-imagia">
                                        <!-- Start: content -->
                                        <div class="content-imagia content-back-imagia">
                                            <div>
                                                <h3 class="text-center">Lorem Ipsum</h3>
                                                <p class="text-center">Et hanc quidem praeter oppida multa duae
                                                    civitates exornant Seleucia opus Seleuci regis, et Claudiopolis quam
                                                    deduxit coloniam Claudius Caesar. Isaura enim antehac nimium potens,
                                                    olim subversa ut rebellatrix
                                                    interneciva aegre vestigia claritudinis pristinae monstrat admodum
                                                    pauca. </p>
                                            </div>
                                        </div>
                                        <!-- End: content -->
                                        <!-- Start: footer -->
                                        <div class="footer-imagia">
                                            <!-- Start: icons -->
                                            <div class="social-imagia text-center"><a href="#"><i
                                                        class="fa fa-facebook"></i></a><a href="#"><i
                                                        class="fa fa-linkedin"></i></a><a href="#"><i
                                                        class="fa fa-twitter"></i></a></div>
                                            <!-- End: icons -->
                                        </div>
                                        <!-- End: footer -->
                                    </div>
                                    <!-- End: back -->
                                </div>
                                <!-- End: card -->
                            </div>
                            <!-- End: card container -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- End: Team with rotating cards -->
            <!-- Start: Team with rotating cards -->
            <section class="card-section-imagia">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-4 offset-lg-4">
                            <!-- Start: card container -->
                            <div class="card-container-imagia">
                                <!-- Start: card -->
                                <div class="card-imagia">
                                    <!-- Start: front -->
                                    <div class="front-imagia">
                                        <!-- Start: cover gradient -->
                                        <div class="cover-imagia cover-gradient"></div>
                                        <!-- End: cover gradient -->
                                        <!-- Start: user image -->
                                        <div class="user-imagia"><img class="img-circle" alt=""
                                                src="https://unsplash.it/120/120?image=64"></div>
                                        <!-- End: user image -->
                                        <div class="content-imagia">
                                            <h3 class="name-imagia">John Doe</h3>
                                            <p class="subtitle-imagia">Subtitle </p>
                                            <p class="text-center"><em>Tantum autem cuique tribuendum, primum quantum
                                                    ipse efficere possis, deinde etiam quantum ille quem diligas atque
                                                    adiuves. </em></p>
                                        </div>
                                        <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span>
                                        </div>
                                    </div>
                                    <!-- End: front -->
                                    <!-- Start: back -->
                                    <div class="back-imagia">
                                        <!-- Start: content -->
                                        <div class="content-imagia content-back-imagia">
                                            <div>
                                                <h3 class="text-center">Lorem Ipsum</h3>
                                                <p class="text-center">Et hanc quidem praeter oppida multa duae
                                                    civitates exornant Seleucia opus Seleuci regis, et Claudiopolis quam
                                                    deduxit coloniam Claudius Caesar. Isaura enim antehac nimium potens,
                                                    olim subversa ut rebellatrix
                                                    interneciva aegre vestigia claritudinis pristinae monstrat admodum
                                                    pauca. </p>
                                            </div>
                                        </div>
                                        <!-- End: content -->
                                        <!-- Start: footer -->
                                        <div class="footer-imagia">
                                            <!-- Start: icons -->
                                            <div class="social-imagia text-center"><a href="#"><i
                                                        class="fa fa-facebook"></i></a><a href="#"><i
                                                        class="fa fa-linkedin"></i></a><a href="#"><i
                                                        class="fa fa-twitter"></i></a></div>
                                            <!-- End: icons -->
                                        </div>
                                        <!-- End: footer -->
                                    </div>
                                    <!-- End: back -->
                                </div>
                                <!-- End: card -->
                            </div>
                            <!-- End: card container -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- End: Team with rotating cards -->
        </section>
        <!-- End: Team with rotating cards -->
        <div></div>
        {% endblock content %}