{% extends "Standard_Template.html" %}
{% load static %}
    {% block content %}
                <div class="container"><a class="navbar-brand text-success" href="{% url 'Users-home' %}"
                        style="border-left-color: rgb(115,26,26);"><i
                            class="fa fa-leaf fa-2x"></i><strong>Note</strong>Repo</a><button data-toggle="collapse"
                        class="navbar-toggler collapsed"
                        data-target="#navcol-1"><span></span><span></span><span></span></button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item"><a class="nav-link active" href="{% url 'Users-home' %}">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'Users-about' %}">About us</a></li>
                            <!-- <li class="nav-item"><a class="nav-link" href="#">Blogs</a></li> -->
                            <li class="dropdown nav-item"><a class="dropdown-toggle nav-link" data-toggle="dropdown"
                                    aria-expanded="false" href="#">Resources</a>
                                <div class="dropdown-menu"><a class="dropdown-item" href="{% url 'Users-Notebook' %}">Notebooks</a><a
                                        class="dropdown-item" href="#">Textbooks</a><a class="dropdown-item"
                                        href="#">Question Papers</a></div>
                            </li>
                            <!-- <li class="nav-item"><a class="nav-link" href="#">Sign up&nbsp;<div></div></a></li> -->
                        </ul>
                    </div><a href="../Login form/login form.html"><button class="btn btn-primary" type="button">Log In</button></a>
                </div>
            </nav>
            <!-- Start: background + text -->
            <div class="bg-success d-flex align-items-center"
                style="height: 100vh;color: rgb(56,100,143);background: rgb(26,73,238);">
                <!-- Start: Text -->
                <div class="text-center w-100 text-white">
                    <h1 style="color: rgb(238,238,238);">Welcome to <strong>Note</strong>Repo</h1>
                    <!-- Start: Animated Type Heading -->
                    <div style="font-size: smaller;" class="caption v-middle text-center">
                        <h5 class="cd-headline clip">
                            <span class="blc"></span>
                            <span class="cd-words-wrapper">
                                <b class="is-visible">Notes.</b>
                                <b>References.</b>
                                <b>Question Papers.</b>
                            </span>
                            <span class="blinking">|</span>
                        </h5>
                    </div>
                    <!-- End: Animated Type Heading -->
                    <!-- Start: Animated Typing With Blinking -->
                    <div class="text-nowrap d-flex justify-content-center align-items-center animated-text noSelect"
                        style="background: rgba(255,255,255,0);border-style: none;margin-top: 16px;width: 50%;margin-right: auto;margin-left: auto;">
                    </div>
                    <!-- End: Animated Typing With Blinking -->
                </div>
                <!-- End: Text -->
            </div>
            <!-- End: background + text -->
    {% endblock content %}