{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Untit</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/NavBar.css'%}">
        <link rel="stylesheet" href="{%static 'css/Animated-Typing-With-Blinking.css'%}">
        <link rel="stylesheet" href="../static/css/Carousel.css">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css">
        <link rel="stylesheet" href="https://cdn.quilljs.com/1.0.0/quill.snow.css">
        <link rel="stylesheet" href="{% static '/css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/Team-with-rotating-cards.css'%}">
        <link rel="stylesheet" href="assets/css/TextEditor.css">
    </head>

<body>
    <!-- Start: ♣ Fixed Navbar start with transparency background -->
    <div>
        <!-- Start: Menu + header background -->
        <header>
            {% block content %}{% endblock %}
    </header>
    <!-- End: background + text -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
    <script src="{% static 'js/Quill-Text-Editor.js' %}"></script>
    <script src="{% static 'js/-Fixed-Navbar-start-with-transparency-background-BS4-.js' %}"></script>
    <script src="{% static 'js/Animated-Typing-With-Blinking.js' %}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>
</body>

</html>