<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Untit</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css/-Fixed-Navbar-start-with-transparency-background-BS4-.css">
        <link rel="stylesheet" href="../static/css/Animated-Typing-With-Blinking.css">
        <link rel="stylesheet" href="../static/css/Carousel.css">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css">
        <link rel="stylesheet" href="https://cdn.quilljs.com/1.0.0/quill.snow.css">
        <link rel="stylesheet" href="../static/css/styles.css">
        <link rel="stylesheet" href="../static/css/Team-with-rotating-cards.css">
        <link rel="stylesheet" href="assets/css/TextEditor.css">
    </head>

<body>
    <!-- Start: ♣ Fixed Navbar start with transparency background -->
    <div>
        <!-- Start: Menu + header background -->
        <header>
            <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white transparency border-bottom border-light"
                id="transmenu">
                <div class="container"><button class="navbar-toggler collapsed"
                        data-toggle="collapse"><span></span><span></span><span></span></button></div>
            </nav>
        </header>
        <!-- End: Menu + header background -->
    </div>
    <!-- End: ♣ Fixed Navbar start with transparency background -->
    <!-- Start: Quill Text Editor -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h1>Quill </h1>
                </div>
                <div id="toolbar"></div>
                <div id="editor"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p id="content"> </p>
            </div>
        </div>
    </div>
    <!-- End: Quill Text Editor -->
    <!-- Start: background + text -->
    <header class="bg-success d-flex align-items-center"
        style="height: 0vh;color: rgb(56,100,143);background: rgb(26,73,238);">
        <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white transparency border-bottom border-light"
            id="transmenu-1" style="border-style: none;opacity: 1;">
            <div class="container"><a class="navbar-brand text-success" href="index.html"
                    style="border-left-color: rgb(115,26,26);"><i
                        class="fa fa-leaf fa-2x"></i><strong>Note</strong>Repo</a>
                <div></div><button data-toggle="collapse" class="navbar-toggler collapsed"
                    data-target="#navcol-1"><span></span><span></span><span></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="About us.html">About us</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" href="#">Blogs</a></li> -->
                        <li class="dropdown nav-item active"><a class="dropdown-toggle nav-link" data-toggle="dropdown"
                                aria-expanded="false" href="#">Resources</a>
                            <div class="dropdown-menu"><a class="dropdown-item active" href="Notebook.html">Notebooks</a><a
                                    class="dropdown-item" href="#">Textbooks</a><a class="dropdown-item"
                                    href="#">Question Papers</a></div>
                        </li>
                        <!-- <li class="nav-item"><a class="nav-link active" href="#">Sign up&nbsp;<div></div></a></li> -->
                    </ul>
                </div><a href="../Sliding-Sign-In-Sign-Up-Form/login form.html"><button class="btn btn-primary" type="button">Log In</button></a>
            </div>
        </nav>
        <div></div>
    </header>
    <!-- End: background + text -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
    <script src="../static/js/Quill-Text-Editor.js"></script>
    <script src="../static/js/-Fixed-Navbar-start-with-transparency-background-BS4-.js"></script>
    <script src="../static/js/Animated-Typing-With-Blinking.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>
</body>

</html>