{% extends "baseSecondary.html" %}
{% load static %}
 {% block head %}
 <title>NoteRepo - Question Papers</title>
 {% endblock %}
    {% block content %}
    <form style="float:right;"class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                <div class="input-group-append"><button class="btn btn-primary py-0" type="button" style="background: rgb(0,128,0);">🔍</button></div>
                            </div>
                        </form>
{% endblock content %}
{% block list %}
<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
<thead>
    <tr>
        <th>Sr No.</th>
        <th>Branch</th>
        <th>Subject</th>
        <th>Year</th>
        <th>Semester</th>
        <th>College</th>
        <th>Download</th>
    </tr>
</thead>
<tbody>
    {% for paper in qpapers %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ paper.Branch }}</td>
            <td>{{ paper.Subject }}</td>
            <td>{{ paper.year }}</td>
            <td>{{ paper.Semester }}</td>
            <td>{{ paper.college }}</td>
            <td><a href={{ paper.link }}>Download</a></td>
        </tr>
        {{ paper.Semester }
    {% endfor %}
</tbody>
</table><i class="fa fa-star"></i>
{% endblock list %}