{% extends "baseSecondary.html" %}
{% load static %}
 {% block head %}
 <title>NoteRepo - References</title>
 {% endblock %}
    {% block content %}
<form  method="get"    style="float:right;" action="{% url 'search' %}" class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" >   
                              {% csrf_token %}

                            <div class="input-group"><input class="bg-light form-control border-0 small" type="search" name="select" placeholder="Search for ...">
                                <div class="input-group-append"><button class="btn btn-primary py-0" type="submit" style="background: rgb(0,128,0);">🔍</button></div>
                            </div>
                        </form>

                        <hr>
                    
    {% endblock content %}
    {% block list %}
<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
<thead>
    <tr>
        <th>Sr No.</th>
        <th>Title</th>
        <th>Author</th>
        <th>Branch</th>
        <th>Subject</th>
        <th>Publication Year</th>
        <th>Download</th>
    </tr>
</thead>
<tbody>
    {% for book in textbook %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ book.Title }}</td>
            <td>{{ book.Author }}</td>
            <td>{{ book.Branch }}</td>
            <td>{{ book.Subject }}</td>
            <td>{{ book.PublicationYear }}</td>
            <td><a href={{ book.link }}  target="_blank" rel="noopener noreferrer">Download</a></td>
        </tr>
    {% endfor %}
</tbody>
</table><i class="fa fa-star"></i>
{% endblock list %}
